# Dependencies
node_modules/
/dist
/build
/server_test.exe

# Go binaries and files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/Server/server_test.exe
/Server/server

# Environment variables / credentials
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
